
// Copy this file to credentials.cpp and fill in your credentials
// before compiling.

#include "credentials.hpp"

char wifi_ssid[] {"SSID of your WiFi"};
char wifi_pass[] {"Password of your WiFi"};
char wifi_host[] {"Hostname for your controller"};
